<div class = jumbotron>
    <div class = "text-center">
        <h1>Welcome to Adaptive Gymnastics!</h1>
        <h3>About us</h3>
    </div>
</div>

<br>

<div class="container">
    <div class = "row">
        <div class="col-lg shadow border">
            <div class="text-center">
                <h2>bleh</h2>
                
            </div>
        </div>
    </div>
</div>


<div class = "about-text">
    We are a student-run organization at the University of Michigan that runs modified gymnastics classes
    for kids with disabilities. Every week, we have 2 classes on Saturday (TIMES) and 2 classes on Sunday
    (10:00am - 11:00am and 11:15am - 12:15pm). Kids will have the opportunity to stretch with us, complete
    an obstacle course around the gym, and have free time to play! Absolutely *no* gymnastics experience is
    required for volunteers to participate. More information can be found in the other
    tabs. We hope to see you in the gym!
</div>

<br>

<img src="https://i.ibb.co/44p9G6G/adaptive-logo.png" alt="Adaptive Logo" class="logo">
